<!DOCTYPE html>
<html>
  <head>
    <title>RailsRecipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
  <% if current_user %>
  <h2> Welcome <%= current_user.name %></h2>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo: false} %>
  <% end %>

  <div class="notice"><%= notice %></div>
  <div class="notice"><%= alert %></div>
  </div>
    <%= yield %>
  </body>
</html>
